body{
    background-image: url(3.jpg);

    background-size: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.gift{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    background-color: aliceblue;
    border-radius:30px ;
    width: 200px;
    height: 400px;

}