body{
    background-image: url(3.jpg);

    background-size: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.gift{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 20px;
    font-family: sans-serif;
    padding: 30px;
    background-color: aliceblue;
    border-radius:30px ;
    width: 320px;
    

}
img{
    width: 300px;
    height: 200px;
    border-radius: 30px;
}